#form{
  background-color:#ffc0d0;
  min-height: 600px;
  padding: 10px 40px 40px 40px;
  margin:  auto
}

.first{
  font-size:30px;
  font-family: 'Lobster', cursive;
  /* border-bottom-style:dashed ; */
}
.container {
  margin-top: 10px;

}

body{
     background-image:url(static/Languages.jpg);
     font-family: 'Montserrat', sans-serif;
}

label{
   font-family: 'Coiny', cursive;
   font-family: 'Dancing Script', cursive;
   color:#9873b9;
   font-size:18px;
 }
